* {
  padding: 0;
  margin: 0;
  box-sizing: auto;
  background-color: rgb(200, 200, 200);
}

.header {
  background-color: rgb(114, 107, 104);
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 10px;
  width: 100%;
}

.Footer {
  background-color: rgb(72, 61, 65);
  text-align: center;
  bottom: 0;
  position: absolute;
  padding: 10px;
  width: 100%;
}

.Cards {
  background-color: rgb(178, 172, 171);
  margin: 30px;
  padding: 10px;
  align-items: center;
  display: inline-block;
  border: 1px solid black;
}

.p {
  background-color: rgb(178, 172, 171);
}